<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IOcrMapper">
    <select id="getOcrList" resultType="OcrDTO">
        SELECT SEQ, SAVE_FILE_NAME, SAVE_FILE_PATH, EXT
        FROM OCR_INFO
        ORDER BY SEQ DESC
    </select>

    <select id="getOcrInfo" resultType="OcrDTO">
        SELECT SEQ, SAVE_FILE_NAME, SAVE_FILE_PATH, ORG_FILE_NAME, EXT, OCR_TEXT, REG_ID, REG_DT, CHG_ID, CHG_DT
        FROM OCR_INFO
        WHERE SEQ = #{seq}
    </select>

    <insert id="insertOcrInfo" parameterType="OcrDTO">
            INSERT INTO OCR_INFO
                (
                 SEQ, SAVE_FILE_NAME, SAVE_FILE_PATH, ORG_FILE_NAME, EXT, OCR_TEXT, REG_ID, REG_DT, CHG_ID, CHG_DT
                )
            VALUES
                (
                (SELECT NVL(MAX(SEQ), 0)+1 FROM OCR_INFO), #{saveFileName}, #{saveFilePath}, #{orgFileName}, #{ext}, #{ocrT4ext}, #{regId}, SYSDATE, #{chgId}, SYSDATE
                )
    </insert>

    <select id="getFilePath" resultType="OcrDTO">
        SELECT SAVE_FILE_PATH, ORG_FILE_NAME
        FROM OCR_INFO
        WHERE SAVE_FILE_NAME = #{saveFileName}
    </select>
</mapper>